* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: rgb(46, 213, 115);
    --main-bg-color: rgba(46, 213, 116, 0.36);
    --pattern-color: rgba(255, 255, 255, 0.01);
}

html {
    scroll-behavior: smooth;
}

body {
    background: #0D1117;
    overflow-x: hidden;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* Melhora a nitidez da fonte */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

}

.principal {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-height: 460px;
    gap: 25px;
    overflow: hidden;
}

.principal::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgb(0, 0, 0, 0) 0%), linear-gradient(var(--pattern-color) 2px, transparent 1px), linear-gradient(to right, var(--pattern-color) 2px, transparent 1px);
    background-size: cover, 10px 70px, 50px 10px;
    transform: perspective(1000px) rotateX(60deg);
    transform-origin: center top;
    z-index: -1;
}


h1 {
    font-size: 75px;
}

.gradient-shadow {
    position: relative;
    color: rgba(255, 255, 255, 0.85);
    font-weight: bold;
}

.gradient-shadow::after {
    content: attr(data-text);
    position: absolute;
    top: 10px;
    left: -30px;
    width: 110%;
    color: transparent;
    background: radial-gradient(circle at right, rgb(247, 60, 60), rgb(123, 47, 123), rgb(78, 78, 249));
    filter: blur(20px);
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    z-index: -1;
}

#profession {
    color: #619AEE;
    font-size: 25px;
    font-weight: 100;
}

#profession::after {
    content: "____";
    position: relative;
    bottom: 10px;
    left: 10px;
}

#profession::before {
    content: "____";
    position: relative;
    bottom: 10px;
    right: 10px;
}

.principal>p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
}

.tecnologias-principais {
    display: flex;
    gap: 15px;
}

.tecnologias-principais>span {
    background-color: #1A1F2B;
    font-weight: 600;
    font-size: 15px;
    color: #CCD0D6;
    border-radius: 20px;
    padding: 7px 15px;
    box-shadow: 0 0 0 0.3px #CCD0D6;
    cursor: text;
    transition: all 0.3s;
}

.tecnologias-principais>span:hover {
    box-shadow: 0 0 0 0.5px #619AEE;
}

.btns-works {
    display: flex;
    gap: 20px;
}

.btns-works>a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    background-color: #1A1F2B;
    font-weight: 400;
    color: white;
    border-radius: 25px;
    padding: 13px 30px;
    transition: all 0.3s;
    font-size: 17px;
}

.btns-works>a>svg {
    transition: all 0.3s;
}

.btns-works>a:hover svg {
    transform: translateX(15px);
}

.btns-works>a:not(.btn-destaque) {
    box-shadow: 0 0 0 0.5px #CCD0D6;
}

.btns-works>a:hover:not(.btn-destaque) {
    background-color: #32343b;
}

.btn-destaque {
    box-shadow:
        0 0 20px 1px rgba(78, 78, 249, 0.5),
        0 0 7px 0 rgba(123, 47, 123, 0.5),
        0 0 10px 0 rgba(247, 60, 60, 0.5);
}

.btn-destaque:hover {
    box-shadow:
        0 0 30px 1px rgba(78, 78, 249, 1),
        0 0 7px 0 rgba(123, 47, 123, 1),
        0 0 10px 0 rgba(247, 60, 60, 1);
}

.emogis {
    display: flex;
    gap: 45px;
    margin-top: 10px;
}

.emogis>span {
    font-size: 25px;
    cursor: pointer;
    transition: all 0.2s;
}

.emogis>span:hover {
    transform: scale(1.2);
}

.floats {
    position: absolute;
    width: 100vw;
    height: 100vh;
    font-size: 35px;
    color: rgba(255, 255, 255, 0.5);
    z-index: -1;
}

.animate-float {
    animation: float 6s ease-in-out infinite;
}

.animate-float2 {
    animation: float 5s ease-in-out infinite;
}

.float1 {
    position: absolute;
    top: 13vh;
    left: 25vw;
}

.float2 {
    position: absolute;
    top: 18vh;
    right: 30vw;
}

.float3 {
    position: absolute;
    bottom: 13vh;
    left: 30vw;
}

.float4 {
    position: absolute;
    bottom: 15vh;
    right: 25vw;
}

@keyframes float {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(-20px) rotate(10deg);
    }

    100% {
        transform: translateY(0) rotate(0deg);
    }
}

.animate-bounce {
    animation: bounce 1s infinite;
}

.seta-explorer {
    position: absolute;
    bottom: 4vh;
    display: flex;
    font-size: 14px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    color: #9CA3AF;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(.8, 0, 1, 1);
    }

    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0, 0, .2, 1);
    }
}


.skills {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: max-content;
    padding: 45px 0px 100px 0px;
    width: auto;
    background-color: #161B22;
    color: #fff;
}

.skills h2 {
    margin-bottom: 45px;
    font-size: 30px;
}

#work h2 {
    margin-bottom: calc(45px + 75px);
    font-size: 30px;
}

.skills h3 {
    font-size: 25px;
    text-align: center;
}

.cards-skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    width: 900px;
}

.cabecalho-skill {
    display: flex;
    justify-content: space-between;
    margin: 7px 0;
}

.cabecalho-skill h4 {
    font-size: 0.875rem;
    font-weight: 400;
}

.cabecalho-skill span {
    color: #9CA3AF;
    font-size: 0.875rem;
}

.cards-skills>section {
    background-color: #21262D;
    padding: 25px;
    border-radius: 20px;
    width: 100%;
    transition: all 0.2s;

}

.cards-skills>section:hover {
    transform: scale(1.02);
}

.progress {
    background-color: #30363D;
    border-radius: 30px;
    height: 7px;
}

.progress-bar-front {
    background: linear-gradient(90deg, rgba(59, 129, 246, 1) 0%, rgba(24, 76, 218, 1) 100%);
    border-radius: 20px 0px 0px 20px;
    height: 7px;
}

.progress-bar-back {
    background: linear-gradient(90deg, rgba(33, 195, 93, 1) 0%, rgba(21, 124, 58, 1) 100%);
    border-radius: 20px 0px 0px 20px;
    height: 7px;
}

#work {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 45px;
    color: #fff;
}

.cards-portifolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    width: auto;
}

.cards-portifolio section {
    border-radius: 10px;
    height: 100%;
    margin-top: -75px;
}


.cards-portifolio img {
    border-radius: 10px 10px 0 0;
    width: 330px;
    height: 330px;
    filter: brightness(75%);
    -webkit-filter: brightness(75%);
    -moz-filter: brightness(75%)
}

.cards-portifolio img:hover {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    -moz-filter: brightness(100%);
}

.cards-portifolio>section>div {
    bottom: 75px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 20px;
    position: relative;
    background-color: rgba(31, 41, 55, 1);
    padding: 20px;
    border-radius: 0 0 10px 10px;
    height: 260px;
}

.cards-portifolio>section>div>div {
    display: flex;
    justify-content: space-evenly;
}

.cards-portifolio a {
    color: #619AEE;
    font-size: 18px;
    text-decoration: none;
}

.cards-portifolio a:hover {
    color: #a9bedd;
}

.cards-portifolio span {
    font-size: 13px;
    width: 290px;
}