* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-bg-color1: #0D1117;
    --main-bg-color2: #161B22;
    --pattern-color: rgba(255, 255, 255, 0.01);
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--main-bg-color1);
    overflow-x: hidden;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* Melhora a nitidez da fonte */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(18, 18, 18, 0.4);
    backdrop-filter: blur(0.625rem);
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    border-bottom: 0.0625rem solid #1F2937;
}

header nav ul {
    display: flex;
    justify-content: center;
    gap: 1.875rem;
    height: 100%;
    list-style: none;
    padding-left: 0;
    margin: 0.19rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

header nav ul li a:hover {
    text-shadow:
        0 0 1.25rem rgba(78, 78, 249, 1),
        0 0 0.44rem rgba(123, 47, 123, 0.8),
        0 0 0.625rem rgba(247, 60, 60, 0.4),

        0 0 1.25rem rgba(78, 78, 249, 1),
        0 0 0.44rem rgba(123, 47, 123, 0.8),
        0 0 0.625rem rgba(247, 60, 60, 0.4),

        0 0 1.25rem rgba(78, 78, 249, 1),
        0 0 0.44rem rgba(123, 47, 123, 0.8),
        0 0 0.625rem rgba(247, 60, 60, 0.4);

    filter: drop-shadow(0 0 0.625rem rgba(255, 255, 255, 0.3));
}

.principal {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100dvh;
    min-height: 40rem;
    gap: 1.6rem;
    overflow: hidden;
}

.principal::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgb(0, 0, 0, 0) 0%), linear-gradient(var(--pattern-color) 0.125rem, transparent 0.0625rem), linear-gradient(to right, var(--pattern-color) 0.125rem, transparent 0.0625rem);
    background-size: cover, 0.625rem 4.375rem, 3.125rem 0.625rem;
    transform: perspective(62.5rem) rotateX(60deg);
    transform-origin: center top;
    z-index: -1;
}


h1 {
    font-size: 4.7rem;
    text-align: center;
}

.gradient-shadow {
    position: relative;
    color: rgba(255, 255, 255, 0.85);
    font-weight: bold;
}

.gradient-shadow::after {
    content: attr(data-text);
    position: absolute;
    top: 0.625rem;
    left: -1.875rem;
    width: 110%;
    color: transparent;
    background: radial-gradient(circle at right, rgb(247, 60, 60), rgb(123, 47, 123), rgb(78, 78, 249));
    filter: blur(1.25rem);
    -webkit-filter: blur(1.25rem);
    -moz-filter: blur(1.25rem);
    z-index: -1;
}

#profession {
    color: #619AEE;
    font-size: 1.57rem;
    font-weight: 100;
}

#profession::after {
    content: "____";
    position: relative;
    bottom: 0.625rem;
    left: 0.625rem;
}

#profession::before {
    content: "____";
    position: relative;
    bottom: 0.625rem;
    right: 0.625rem;
}

.principal>p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.125rem;
    text-align: center;
}

.tecnologias-principais {
    display: flex;
    gap: 0.94rem;
}

.tecnologias-principais>span {
    background-color: #1A1F2B;
    font-weight: 600;
    font-size: 0.94rem;
    color: #CCD0D6;
    border-radius: 1.25rem;
    padding: 0.44rem 0.94rem;
    box-shadow: 0 0 0 0.02rem rgba(204, 208, 214, 0.4) inset;
    cursor: text;
    transition: all 0.3s;
}

.tecnologias-principais>span:hover {
    box-shadow: 0 0 0 0.03rem rgb(92, 124, 230) inset;
}

.btns-works {
    display: flex;
    gap: 1.25rem;
}

.btns-works>a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    text-decoration: none;
    background-color: #1A1F2B;
    font-weight: 400;
    color: white;
    border-radius: 1.56rem;
    padding: 0.81rem 1.875rem;
    transition: all 0.3s;
    font-size: 1.06rem;
    text-align: center;
}

.btns-works>a>svg {
    transition: all 0.3s;
}

.btns-works>a:hover svg {
    transform: translateX(0.9rem);
}

.btns-works>a:not(.btn-destaque) {
    box-shadow: 0 0 0 0.02rem rgba(204, 208, 214, 0.4) inset;
}

.btns-works>a:hover:not(.btn-destaque) {
    background-color: #2D333B;
}

.btn-destaque {
    box-shadow:
        0 0 1.25rem 0.0625rem rgba(78, 78, 249, 0.5),
        0 0 0.44rem 0 rgba(123, 47, 123, 0.5),
        0 0 0.625rem 0 rgba(247, 60, 60, 0.5);
}

.btn-destaque:hover {
    box-shadow:
        0 0 1.875rem 0.0625rem rgba(78, 78, 249, 1),
        0 0 0.44rem 0 rgba(123, 47, 123, 1),
        0 0 0.625rem 0 rgba(247, 60, 60, 1);
}

.emogis {
    display: flex;
    gap: 2.81rem;
    margin-top: 0.625rem;
}

.emogis>span {
    font-size: 1.56rem;
    cursor: pointer;
    transition: all 0.2s;
}

.emogis>span:hover {
    transform: scale(1.2);
}

.floats {
    position: absolute;
    width: 100vw;
    height: 100dvh;
    font-size: 2.2rem;
    color: rgba(255, 255, 255, 0.5);
    z-index: -1;
}

.animate-float {
    animation: float 6s ease-in-out infinite;
}

.animate-float2 {
    animation: float 5s ease-in-out infinite;
}

.float1 {
    position: absolute;
    top: 13vh;
    left: 25vw;
}

.float2 {
    position: absolute;
    top: 18vh;
    right: 30vw;
}

.float3 {
    position: absolute;
    bottom: 13vh;
    left: 30vw;
}

.float4 {
    position: absolute;
    bottom: 15vh;
    right: 25vw;
}

@keyframes float {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(-1.25rem) rotate(10deg);
    }

    100% {
        transform: translateY(0) rotate(0deg);
    }
}

.animate-bounce {
    animation: bounce 1s infinite;
}

.seta-explorer {
    position: absolute;
    bottom: 4vh;
    display: flex;
    font-size: 0.875rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    color: #9CA3AF;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(.8, 0, 1, 1);
    }

    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0, 0, .2, 1);
    }
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: max-content;
    padding: 5rem 0 5rem 0;
    width: auto;
    background-color: var(--main-bg-color1);
    color: #fff;
    border-top: 0.125rem solid #1F2937;
}

.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.31rem;
    width: 55%;
}

.perfil img {
    width: 9.375rem;
    border-radius: 50%;
    border: 0.2rem solid #747474;
    transition: all 0.2s;
    box-shadow:
        0 0 1.25rem 0.0625rem rgba(78, 78, 249, 0.5),
        0 0 0.44rem 0 rgba(123, 47, 123, 0.5),
        0 0 0.625rem 0 rgba(247, 60, 60, 0.5);
}

.perfil img:hover {
    box-shadow:
        0 0 1.875rem 0.0625rem rgba(78, 78, 249, 1),
        0 0 0.44rem 0 rgba(123, 47, 123, 1),
        0 0 0.625rem 0 rgba(247, 60, 60, 1);
}

.perfil h2 {
    font-size: 1.875rem;
}

.perfil h3 {
    color: #CED2D8;
    font-weight: 400;
}

.perfil p {
    color: #9CA3AF;
    margin-top: 1.25rem;
}


.skills {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: max-content;
    padding: 5rem 0 6.25rem 0;
    width: auto;
    background-color: var(--main-bg-color2);
    color: #fff;
}

.skills h2 {
    margin-bottom: 2.81rem;
    font-size: 1.875rem;
    color: #fff;
    text-align: center;
}

.contact h2 {
    font-size: 1.875rem;
    color: #fff;
    text-align: center;
}

#projects h2 {
    margin-bottom: calc(2.81rem + 4.69rem);
    font-size: 1.875rem;
    color: #fff;
    text-align: center;
}

.skills h3 {
    font-size: 1.56rem;
    text-align: center;
    text-align: center;
}

.cards-skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.56rem;
    width: 56.25rem;
}

.cabecalho-skill {
    display: flex;
    justify-content: space-between;
    margin: 0.44rem 0;
}

.cabecalho-skill h4 {
    font-size: 0.875rem;
    font-weight: 400;
}

.cabecalho-skill span {
    color: #9CA3AF;
    font-size: 0.875rem;
}

.cards-skills>section {
    background-color: #21262D;
    padding: 1.56rem;
    border-radius: 1.25rem;
    width: 100%;
    transition: all 0.2s;

}

.cards-skills>section:hover {
    transform: scale(1.02);
}

.progress {
    background-color: #30363D;
    border-radius: 1.875rem;
    height: 0.44rem;
}

.progress-bar-front {
    background: linear-gradient(90deg, rgba(59, 129, 246, 1) 0%, rgba(24, 76, 218, 1) 100%);
    border-radius: 1.25rem 0 0 1.25rem;
    height: 0.44rem;
}

.progress-bar-back {
    background: linear-gradient(90deg, rgba(33, 195, 93, 1) 0%, rgba(21, 124, 58, 1) 100%);
    border-radius: 1.25rem 0 0 1.25rem;
    height: 0.44rem;
}

#projects {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5rem 0 2.5rem 0;
    color: #fff;
    background-color: var(--main-bg-color1);
}

.cards-portifolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.56rem;
    width: auto;
}

.cards-portifolio section {
    border-radius: 0.625rem;
    height: 100%;
    margin-top: -4.69rem;
    transition: all 0.3s;
}

.cards-portifolio section:hover {
    transform: translateY(-0.2rem);
}


.cards-portifolio img {
    border-radius: 0.625rem 0.625rem 0 0;
    width: 20.625rem;
    height: 20.625rem;
    filter: brightness(75%);
    -webkit-filter: brightness(75%);
    -moz-filter: brightness(75%)
}

.cards-portifolio img:hover {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    -moz-filter: brightness(100%);
}

.cards-portifolio>section>div {
    bottom: 4.69rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 1.25rem;
    position: relative;
    background-color: rgba(31, 41, 55, 1);
    padding: 1.25rem;
    border-radius: 0 0 0.625rem 0.625rem;
    height: 16.25rem;
}

.cards-portifolio>section>div>div {
    display: flex;
    justify-content: space-evenly;
}

.cards-portifolio a {
    color: #619AEE;
    font-size: 1.125rem;
    text-decoration: none;
}

.cards-portifolio a:hover {
    color: #a9bedd;
}

.cards-portifolio span {
    font-size: 0.81rem;
    width: 18.125rem;
}

.contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2.81rem;
    gap: 1.56rem;
    background-color: var(--main-bg-color2);
    width: 100%;
    color: #fff;
}

.contact h3,
.location {
    color: #9CA3AF;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.31rem;
}

.btn-contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

.btn-contacts a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.31rem;
    color: #fff;
    background-color: #21262D;
    text-decoration: none;
    padding: 0.81rem 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 0 0 0 0.0125rem rgba(97, 154, 238, 0.4) inset;

}

.btn-contacts a:hover {
    background-color: #111827;
}

.btn-contacts a:not(.curriculo) {
    background: radial-gradient(circle at right, #A655F7, #3D81F6);
}

.btn-contacts a:hover:not(.curriculo) {
    background: radial-gradient(circle at right, #914ad7, #336bcc);
}

.btn-social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    gap: 1.25rem;
}

.btn-social-media a {
    color: #9CA3AF;
    padding: 0.625rem 0.625rem 0.31rem 0.625rem;
}

.btn-social-media a:hover {
    color: #ffffff;
    background-color: #1F2937;
    border-radius: 0.625rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.81rem;
    background-color: var(--main-bg-color2);
    border-top: 0.125rem solid #1F2937;
}

footer p,
footer a {
    color: #fff;
    text-decoration: none;
    text-align: center;
}

footer a:hover {
    color: #c2c2c2;
}

@media screen and (max-width: 1080px) {
    .cards-portifolio {
        grid-template-columns: repeat(2, 1fr);
    }
    .cards-skills {
        width: 44rem;
    }
}

@media screen and (max-width: 700px) {
    .cards-skills {
        width: 25rem;
        grid-template-columns: repeat(1, 1fr);
    }

    .cards-portifolio {
        grid-template-columns: repeat(1, 1fr);
    }

    h1 {
        font-size: 3.5rem;
    }

    .perfil {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {

    .cards-skills {
        width: 20.625rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    #profession {
        font-size: 1.2rem;
    }

    .principal>p {
        font-size: 0.9rem;
    }

    .btns-works {
        display: flex;
        flex-direction: column;
    }

    .tecnologias-principais {
        gap: 0.5rem
    }

    .tecnologias-principais>span {
        font-size: 0.7rem;
    }

    .btn-contacts {
        flex-direction: column;
    }

    header {
        display: none;
    }
}